    <div class="item">
        <div>Foto do Professor</div>
        <div>
            <input 
                type="url" 
                name="avatar_url"
                placeholder="http://"  
                value="{{ teacher.avatar_url }}"
            >
        </div>
    </div>

     <div class="item">
        <div>Nome do Professor</div>
        <div>
            <input 
                type="text" 
                name="name"
                placeholder="Nome do Professor" 
                value="{{ teacher.name }}"
            >
        </div>
    </div>

    <div class="item">
        <div>Data de Nascimento</div>
        <div>
            <input 
                type="date"
                name="birth_date" 
                value="{{ teacher.birth_date }}"
            >
        </div>
    </div>

    <div class="item">
        <div>Escolaridade</div>
        <div>
            <select name="education_level">
                <option value="medio">Ensino Médio Completo</option>
                <option value="superior">Ensino Superior Completo</option>
                <option value="mestrado">Mestrado</option>
                <option value="doutorado">Doutorado</option>
            </select>
        </div>
    </div>

    <div class="item">
    <div>Tipo de Aula</div>
    <div>
        <span>
            <input 
                type="radio"
                name="class_type"
                value= "P"
                {% if teacher.class_type == 'P' %}
                    checked
                {% endif %}
                >Presencial
        </span>
        <span>
            <input 
                type="radio" 
                name="class_type"
                value='D'
                {% if teacher.class_type == 'D' %}
                    checked
                {% endif %}
                >
            À Distância
        </span>
    </div>

    <div class="item">
        <div>Matérias</div>
        <div>
            <input 
                type="text"
                name="subjects_taught"
                placeholder="Separe as Matérias por ," 
                value="{{ teacher.subjects_taught }}"
            >
        </div>
        
     <button type="submit">Salvar</button>