    {% extends 'layout.njk' %}
    {% block head %}
        <title>Conteudo</title>
     {% endblock%}

        {% block header %}
            <div class="links">
                <a href="/">Home</a>
                <a href="courses">Conteudo</a>
            </div>
        {% endblock %}
        
        <div >
            <h1>Cursos</h1>
        </div>
        {% block section %}
            <section class="cards">
                {% for course in courses %}
                <div class="card" id="starter">
                    <div  class="card_img">                    
                        <img src="{{course.img}}" alt="imagem de {{course.name}}">
                    </div>
                    <div class="content">
                        <p>{{course.name}}</p>
                    </div>
                    <div class="card_info">
                        <p>{{course.duraction}}</p>
                        <p class="card_price">{{course.price}}</p>
                    </div>
                </div>
                {% endfor %}

            </section>
        {% endblock %}           
        
        <div class="modal-conteudo">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>
                <a class="open-modal">
                    <i class="material-icons">launch</i>
                </a>
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
       