{% extends 'layout.njk' %}       
<html>
    <head>
        <link rel="icon" href="favicon.ico" type="image/x-icon" />        
        <title>Desafio Modulo 02</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">

    </head>
    <body>

        <div id="wrapper">
            <h1>Desafios Modulo 02</h1>            
        </div>
        <div id="links-footer" class="links">
            <a href="https://github.com/Rocketseat" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
        </div>
    </body>
</html>