{% extends "layout.njk" %}

{% block content %}
    
    <form class="card">
        <section 
            class="avatar" style="background: url(https://source.unsplash.com/collection/4821422/500x500) no-repeat center center / cover ">
        </section>
        <section class="details">
            <div class="item">
                <div>Nome</div>
                <div>Andre Medeiros</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>Doutorado</div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>Presencial</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>Programação</div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>01/01/2018</div>
            </div>

        </section>
    </form>

{% endblock %}