
:root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}
    *{
        padding: 0;
        margin: 0;
        border: 0;
    }

    body{
        background: #282a36;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    header{
        padding: 32px;
        border-bottom: 1px solid #333;
        background: rgba(0, 0, 0, 0.1);
    }

    .links {
        text-align: center;
    }
    .links a {
        color: white;
        font-size: 18px;
        line-height: 28px;
        margin: 0 16px;
        text-decoration: none;
    }
    .links a:hover{
        color: var(--color-green);
        transition: 200ms;
    }
    #wrapper img {
        border: 1.5px solid var(--color-rocket);
        height: 300px;
    }
    #wrapper h1 {
        margin-bottom: 32px;
        text-align: center;
        font-size: 42px;
        line-height: 52px;
        font-weight: bold;
    }
    #wrapper h2 {
        font-size: 24px;
        margin-bottom: 32px;
        line-height: 34px;
        font-weight: normal;
        margin-top: 8px;
        opacity: 0.8;
    }
    #wrapper p{
        max-width: 500px;
        margin: 32px auto;
        font-size: 24px;
        line-height: 34px;
    }
    #wrapper p a {
        color: var(--color-green);
    }
    #links-footer a{
        border-bottom: 1px solid var(--color-green);
    }

/*==cards==*/

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card
 {
    background-color: rgba(247, 241, 241, 0.575);    
}
.card_img,
.list_img
{
    width: 380px;
    max-width: 800px;
    height: 200px;
}

.card_content,
.card_info
{
    padding: 24px;
}
.card_info{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.card__price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}
.content{
    padding: 24px;
    font-weight: bold;
    font-size: 28px;
}

.listas {
    max-width: 800px;
    margin: 0 auto;    
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: #282a36;
}

.list_img img{    
    width: 100%;
    max-width: 800px;
    height: 300px;    
    
}
.list_content{
    text-align: center;
}
.list_content h1{
    font-size: bold;
    margin: 16px;
}
.container-list ul {
    text-align: center;
    margin: 16px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;

}
.container-list ul li{
    border: 1px solid #333;    
    padding: 24px;    
    font-weight: bold;
}
.container-list ul li:hover{
    color: var(--color-green);
    transition: 200ms;
}

/*==modal*/


.modal-conteudo{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;    
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 40%;
    height: 30%;
    margin: 2vh auto;
    position: relative;
}
.modal.max{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 1px;
    cursor: pointer;
}

.modal .open-modal {
    color: black;
    position: absolute;
    right: 50px;
    top: 1px;
    cursor: pointer;
}



/*==modal.active==*/

.modal-conteudo.active{
    opacity: 1;
    visibility: visible;
}
iframe {
    width: 100%;
    height: 95%;
    position: absolute;
    top: 5%;
}




